<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <style>
        .navbar { border-radius:0; }
    </style>
</head>
<body ng-app="blogApp">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">test</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="articles">Articles</a></li>
            <li><a ui-sref="login">Login</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" ui-view></div>
    </div>

    <!-- <script src="app/libs.js"></script> -->
    <script src="libs.js"></script>
    <script src="app.js"></script>
</body>
</html>
