<!-- <slider-home></slider-home> -->
<div class="">
    <!-- <form ng-controller="homeCtrl">
        <div class="form-group">
            <label for="">Mots clés</label>
            <input type="text" class="form-control" id="" placeholder="food, food, food ..." ng-model="searchInfo.inputValue">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Vider le champs
            </label>
        </div>
        <button type="submit" id="js-btn-search-restaurant" class="btn btn-default" ng-click="showRestaurant()">Recherche</button>
    </form> -->
    <!-- <div ng-controller="homeCtrl">
        <div ng-include src="'countdown.html'"></div>
        <div home-ctrl></div>
    </div> -->


    <div class="wedding-component row">
        <div class="days col-xs-3 wedding-component__time-column">
            <p class="timer" id="days"></p>
            <p class="text">jours</p>
        </div>
        <!-- <div class="timer days">:</div> -->
        <div class="col-xs-3 wedding-component__time-column">
            <p class="timer" id="hours"></p>
            <p class="text">heures</p>
        </div>
        <!-- <div class="timer">:</div> -->
        <div class="col-xs-3 wedding-component__time-column">
            <p class="timer" id="minutes"></p>
            <p class="text">minutes</p>
        </div>
        <!-- <div class="timer">:</div> -->
        <div class="col-xs-3 wedding-component__time-column">
            <p class="timer" id="seconds"></p>
            <p class="text">secondes</p>
        </div>
    </div>

    <div class="departure-component row">

    </div>

    <div class="toto">

    </div>


</div>
